body {
    background-color: #C8E7EA;
}

#formulario {
    width: auto;
    height: 500px;
    margin: 50px;
    background-color: #ffffff;
    border-color: #00AA4F;
}

#formulario h1 {
    text-align: center;
    color: #000000;
    font-weight: 700;
}

#guardar {
    margin-left: 100px;
}

.empty {
    border-color: red;
}

.input {
    margin: 5px;
}

#tabla1 {
    padding-left: 50px;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B2CB7A;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: #00AA4F;
}